body {
    background-color: #35387B;
}

h1 {
    border-radius: 12px;
    background-clip: padding-box;
    width: 95%;
    padding: 10px;
    background-color: #2A5671;
}
#bodyContainer {
    width: 100%;
    height: 100%;
    background-color: #35387B;
}
#contentContainer {
    width:95%;
/*  background-clip: padding-box; */
}
#navigationContainer {
    width:15%;
    border-radius: 12px;
    padding: 4px;
    background-color: #8570A2;
    vertical-align: top;
}
#directoryContainer {
    width:85%;
    padding: 4px;
}

/* list sort styling */
div.list {
    border: 1px solid black;
    background-color: #EED99E;
}
div.dir.list {
    background-color: #B1923C;
}
div.list img, div.list input {
    margin-left: 1px;
    height:1em;width:1em;
    cursor: pointer;
    border: 1px solid black;
}
div.file.list>form {
    display: inline;
}
div.file.list span.info {
    float:right;
    width:15%;
    text-align:right
}

div.icon {
    width: 100px;
    height:100px;
    display:inline-block; /* not supported in a very few browsers */
    background-image: url("wf_images/unknownIcon.gif");
}
div.icon.dir {
    background-image: url("wf_images/folderIcon.gif");
}
div.icon img, div.icon input, div.file.icon>form, div.file.icon span.info {
    display: none;
}



#tableHead {
    cursor: pointer;
    border: 1px solid black;
    background-color: #FFF4D5;
}
#sortByNameSpan {
    width: 70%
}
#sortByDateSpan {
    float:right;
    width: 15%
}
#sortBySizeSpan {
    float:right;
    width: 15%
}